{# dashboard.twig #}
{% extends "/templates/default.html.twig" %}

{% block title %}Dashboard Page
{% endblock %}

{% block content %}
	{# NavBar #}
	{% include '/templates/components/navbar.twig' with {'homeUrl': '/', 'dashboardUrl': '/dashboard', 'profilUrl': '/profil', 'isAdmin': isAdmin} %}

	<div class="dasboard-container spacebox">
		{# Good Morning #}
		<div class="editor-container">
			<div class="spacebox">
				<div class="title">Good Morning,</div>
				<div class="username">{{ userData[0]['firstname'] }} {{ userData[0]['lastname'] }}</div>
			</div>

			<div class="spacebox">
				<a href="/submit" class="submit-button">Submit new car</a>
			</div>
		</div>

		{# All Collections #}
		<div class="all-cars">
			<div class="all-cars-title">🔥 All your cars - Dashboard</div>
			<div class="all-cars-area">
				{% if vehicles is empty %}
					<div>Vous n'avez aucun vehicule</div>
				{% else %}
					{% for vehicle in vehicles %}
						{% include '/templates/components/card-vehicle-editing.twig' with {'id': vehicle.id, 'brand': vehicle.brand, 'model': vehicle.model, 'logo': vehicle.brand_logo, 'modelImage': vehicle.url_picture, 'seats': vehicle.nb_seats, 'petrol': vehicle.petrol, 'gear': vehicle.gearbox, 'price': vehicle.price} %}
					{% endfor %}
				{% endif %}
			</div>
		</div>

		{# All Booking #}
		<div class="all-cars">
			<div class="all-cars-title">🎫 All your booking - Dashboard</div>
			<div class="all-cars-area">
				{% if allBooking is empty %}
					<div>Vous n'avez aucune reservation</div>
				{% else %}
					{% for booking in allBooking %}
						{% set start_date_obj = booking.start_date|date("Y-m-d H:i:s")|date_modify('midnight') %}
						{% set finish_date_obj = booking.end_date|date("Y-m-d H:i:s")|date_modify('midnight') %}
						{% set date_diff = finish_date_obj.diff(start_date_obj) %}
						{% set days_diff = date_diff.days %}

						{% include '/templates/components/booking-car-card.twig' with {'bookingData': booking, 'days_diff': days_diff} %}
					{% endfor %}
				{% endif %}
			</div>
		</div>

		{# All Users #}
		<div class="all-users">
			<div class="all-cars-title">👤 All users - Dashboard</div>
			<div class="all-users-area">
				{% if allUsers is empty %}
					<div>Aucun utilisateurs n'est inscrit sur le site</div>
				{% else %}
						<table class="users-table">
							<thead>
								<tr>
									<th class="user-th">ID</th>
									<th class="user-th">Created At</th>
									<th class="user-th">First Name</th>
									<th class="user-th">Last Name</th>
									<th class="user-th">Email</th>
									<th class="user-th">Phone</th>
									<th class="user-th">Is Admin</th>
									<th class="user-th">Edit</th>
								</tr>
							</thead>
							<tbody>
								{% for user in allUsers %}
									<tr>
										<form action="/dashboard?id={{user.id}}" method="post">
											<td class="user-td"><input class="flexbox input-user" type="text" name="id" id="" value="{{user.id}}"></td>
											<td class="user-td"><input class="flexbox input-user" type="text" name="created_at" id="" value="{{user.created_at}}"></td>
											<td class="user-td"><input class="flexbox input-user" type="text" name="firstname" id="" value="{{user.firstname}}"></td>
											<td class="user-td"><input class="flexbox input-user" type="text" name="lastname" id="" value="{{user.lastname}}"></td>
											<td class="user-td"><input class="flexbox input-user" type="text" name="email" id="" value="{{user.email}}"></td>
											<td class="user-td"><input class="flexbox input-user" type="text" name="phone" id="" value="{{user.phone}}"></td>
											<td class="user-td"><input class="flexbox input-user" type="number" name="is_garage_owner" id="" value="{{user.is_garage_owner}}"></td>
											
											<td class="user-td flexbox">
												<button type="submit" class="flexbox">
													<svg width="24px" height="24px" class="button-edit-user" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 4H6C4.89543 4 4 4.89543 4 6V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V12M9 15V12.5L17.75 3.75C18.4404 3.05964 19.5596 3.05964 20.25 3.75V3.75C20.9404 4.44036 20.9404 5.55964 20.25 6.25L15.5 11L11.5 15H9Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
												</button>
											</td>
										</form>
									</tr>
								{% endfor %}
							</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
