{% block popular_card %}
  <div class="popular-card-container">
    {# Car #}
    <div class="car-container">
      <div class="car-info">
        <div class="name-container flexbox">
          <img src="{{ logo }}" alt="">
          <div class="model-container">
            <div class="model">{{ model }}</div>
            <div class="Smodel">{{ version }}</div>
          </div>
        </div>
        <div class="is-available">{{ available }}</div>
      </div>
      <div class="car-picture flexbox">
        <div class="opacity-title">{{ nameBackground }}</div>
        <img src="{{ modelImage }}" class="car-img" alt="">
      </div>
    </div>

    {# Info #}
    <div class="owner-container">
      <div class="owner-info">
        <img src="public/assets/user.png" class="user-pricture" alt="">
        <div class="name">{{ name_owner }}</div>
      </div>

      <div class="price-container flexbox">
        <div class="price">${{ price }}</div>
        <div class="day">/day</div>
      </div>
    </div>
  </div>
{% endblock %}
